body{
  font-family: 'Dancing Script',cursive;
}

header
{
  background-color: #5b7989;
  width: 100%;
  height: 120px;
  border-radius: 10px 10px 0 0;
}
section
{
  width: 100%;
  height: 400px;
  background-color: #82c3a6;;
}
h1{
  color: white;
  text-shadow: 2px 2px #02010a;
}
img {
	width: 1000px;
}
#imagen{

}
figure {
	text-align: center;
	margin: 100px;
}
.enlace
{
  color: white;
}
#Redireccionadores{
  height: 90%;
  float: right;
  letter-spacing: 1px;
  word-spacing: 30px;
}
a.enlace{
  text-decoration: none;
}
section aside
{
  width: 100%;
  height: 1000px;
  background-color: #82c3a6;
  float: left;
}
section article
{
  width: 100%;
  height: 400px;
  background-color: #d5c75f;
  float: right;
  border: 1px;
}
footer
{
  clear: both;
  height: 400px;
  width: 100%;
  background-color: #C6d5c5;
}
header nav
{
  height: 90%;
  float: right;
  padding:  0.5% 2% 0 0;
}






/*
blog roll
*******/
#extras {margin: 0 auto 3em auto;}

#extras ul {list-style: none; margin: 0;}
#extras li {}
#extras h2 {
	font-size: 1.429em;
	margin-bottom: .25em;
	padding: 0 3px;
}

#extras a:link, #extras a:visited {
	display: block;
	text-decoration: none;
	padding: .3em .25em;
}


#extras a:hover, #extras a:active {}
	/* Blogroll */
	#extras .blogroll {
		float: left;
		width: 615px;
	}

	#extras .blogroll li {float: left; margin: 0 20px 0 0; width: 185px;}

	#extras .blogroll a:link, #extras .blogroll a:visited{
		color:#363636;
	}

	/* Redes Sociales */
	#extras .social {

		float: right;
		width: 175px;
	}
