body{
  font-family: 'Dancing Script',cursive;
}

header
{
  background-color: #5b7989;
  width: 100%;
  height: 120px;
  border-radius: 10px 10px 0 0;
}
section
{
  width: 100%;
  height: 400px;
  background-color: #82c3a6;;
}
h1{
  font-size: 70px;
  margin: 50px;
  margin-top: 36px;
  color: white;
  text-shadow: 2px 2px #02010a;
}
#titulo{
  display:flex;
}
#contenido{
  display: flex;
}

img{
	width: 1500px;
  height: 900px;
}
.preImg1{
  width:90%;
}

.preImg2{
  width: 900px;
  height: 700px;

}
.preImg3{
  width: 900px;
  height: 700px;
}
#imagen1{
}
#imagen2{
  float: left;
}
#imagen3{
  float: right;
/*   para colocar efector de la imagen principal*/
}
figure {
	text-align: center;
	margin: 20px;
}
div.img2{
  margin-top: 35px;
  text-align: left;
	margin-left: 20px;
  margin-right: 50px;
}
div.img3{
  margin-top: 35px;
  text-align: right;
	margin-right: 20px;
}

.enlace
{
  color: white;
  font-size: 30px;
}
#Redireccionadores{
  margin-top: 36px;
  height: 90%;
  float: right;
  letter-spacing: 1px;
  word-spacing: 30px;
}
a.enlace{
  text-decoration: none;
}
#header h1{
  display: inline;
}

section aside
{
  width: 100%;
  height: 1000px;
  background-color: #82c3a6;
  float: left;
}
section article
{
  width: 100%;
  height: 1000px;
  background-color: #d5c75f;
  float: right;
  border: 1px;
}
footer
{
  clear: both;
  height: 400px;
  width: 100%;
  background-color: #C6d5c5;
}
header nav
{
  height: 90%;
  float: right;
  padding:  0.5% 2% 0 0;
}






/*
blog roll
*******/
#extras {margin: 0 auto 3em auto;}

#extras ul {list-style: none; margin: 0;}
#extras li {}
#extras h2 {
	font-size: 1.429em;
	margin-bottom: .25em;
	padding: 0 3px;
}

#extras a:link, #extras a:visited {
	display: block;
	text-decoration: none;
	padding: .3em .25em;
}


#extras a:hover, #extras a:active {}
	/* Blogroll */
	#extras .blogroll {
		float: left;
		width: 615px;
	}

	#extras .blogroll li {float: left; margin: 0 20px 0 0; width: 185px;}

	#extras .blogroll a:link, #extras .blogroll a:visited{
		color:#363636;
	}

	/* Redes Sociales */
	#extras .social {

		float: right;
		width: 175px;
	}
